.title {
  margin: 10 px;
  
}
.nav-items>ul {
  list-style-type: none;
  display: flex;
 
  
}
.nav-items>ul>li{
  margin :10px;
  border: 1px solid grey;
  border-radius: 10px;
  padding:10px;
  background-color: rgb(248, 203, 121);

}
.header{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color:orange;
  
  
}

.logo{
  width:110px;
  
}

.card{
  width:175px;
  margin:10px;
  padding:10px;
  border:2px solid gray;
  border-radius: 15px;
  background-color: rgb(248, 203, 121);
}
.card> img {
  width: 100%;
}

.restlist{
  display: flex;
  flex-wrap: wrap;
  background-color: lightyellow;
 
}
.heading{
  display: flex;
  padding:2px;
  font-style: normal;
  font-weight: bolder;
  background-color: lightyellow;
  
}

.footer{
  display: flex;
  justify-content: center;
  
}
.search{
  background-color: lightyellow;
}
